<div class="login">
  <form action="/auth/login" method="POST" class="lform">
    <h3 class="welcome-login">Welcome</h3>
    <p class="welcome-login">Please Sign In</p>
    <div class="form-group">
      <label for="auth-email"></label>
      <input type="email" class="form-control" id="auth-email" name="email" aria-describedby="emailHelp" placeholder="Email address">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="auth-password"></label>
      <input type="password" class="form-control" id="auth-password" name="password" placeholder="Password">
    </div>
    <button type="submit" id="login-button" class="btn btn-primary">Log In</button>
  </form>
</div>
