<form action="/auth/signup" method="POST">
  <div class="form-group">
    <label for="new-email">Email address</label>
    <input type="email" class="form-control" id="new-email" name="email" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="new-name">Full Name</label>
    <input type="text" class="form-control" id="new-name" name="name" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="new-password">Password</label>
    <input type="password" class="form-control" id="new-password" name="password" min="8">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
