<h2>Homepage</h2>
<div>
    <% topNews.forEach(news => { %>
        <h1><%= news.author %> </h1>
        <h2><%= news.title%> </h2>
        <p><%= news.description %> </p>

    <% }) %>  
</div>
<h2>This is the Homepage</h2>
