<div class="container">
    <div>
        <% if (topNews.length > 0) {%>
            <% topNews.forEach(news => { %>
                <h2><%= news.title %> </h2>
                <img src="<%= news.urlToImage %> " alt="" style="width:500px; height:500;">
                <p><%= news.description %> </p>
                <a href="<%= news.url %> ">Go to link</a>
            <% }) %> 
        <% } else { %>
            <p>Opps! No such result was found. Try Again....</p> 
        <% } %>  
    </div>
</div>
