body{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/background.jpg');
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

.navbar-brand{
  font-size: 2em;
}

.login, .signUp{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.lform, .sform{
  width:80%;
}

.container{
  margin-top: 5%;
}

svg{
  margin-left: 2px;
  height: 30px;
  width: 30px;
}

svg:hover{
  color: indianred;
}

#row{
  margin-bottom: 5%;
}

img{
  width: 100%;
  object-fit: cover;
}

.news-info{
  margin-right: 5%;
  margin-top: 2%;
}

.source{
  color: indianred;
  display: inline-block;
  font-size: 0.8em;
}

.date{
  display: inline-block;
  font-size: 0.8em;
}

.title{
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  background-color: rgba(255,255,255,0.1) !important;
}

 .nav-link{
  font-size: 1.5em;
  color:black;
}

.bookicon{
  border-color: rgba(255,255,255,0);
}

/* .imgicon{
  display:flex;
} */

/* .post{
  display: grid;
  grid-template-columns:repeat(auto-fill,300px);
  gap: 0.5rem;
  justify-content: center;
  margin-top:1em;
}

@media screen and (max-width: 992px) {
  body {
    display:flex;
    flex-wrap:wrap;
  }
} */

