body{
  background-size: cover;
  background-repeat: repeat;
  background-image: url('/images/background.jpg');
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: black;
}

h2{
  margin-bottom: 3%;
}

.navbar-brand{
  font-size: 2em;
}

#background-signup {
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 width: 100%;
 height: 100%;
}

#background-login {
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
}

.login, .signUp{
  margin: 0 auto;
  display: block;
  width: 80%;
  margin-top: 10%;
}
.lform, .sform{
  padding: 5%;
  margin-top:10%;
  margin: 0 auto;
  align-items: center;
  background: #fff;
  max-width: 500px;
  position: relative;
  background-color: rgba(227, 227, 227, 0.4);;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#new-email {
 margin-top: -20px;
}

#auth-password {
 margin-top: -20px;
}
.form-control {
  width:90%;
  margin: 0 auto;
}

#signup-button, #login-button {
  margin-bottom: 30px;
  height: 40px;
  width: 170px;
  border-radius: 30px;
  margin-top: 20px;
}

.welcome-login-message {
  margin-top: -10px;
  color: black;
}

.welcome-login-sign-in {
  margin-bottom: -5px;
  color: black;
}

.welcome-signup-message {
  color: black;
}

.welcome-signup {
  margin-left: -7px;
  color: black;
}

.lform, .sform{
  width:95%;
}

.container{
  margin-top: 5%;
}

svg{
  margin-left: 2px;
  height: 30px;
  width: 30px;
}

svg:hover{
  color: indianred;
}

#row{
  margin-bottom: 5%;
}

.article-imgs{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
}

img{
  width: 100%;
  object-fit: cover;
}

.news-info{
  margin: 2% 5% 10% 0;
}

.source{
  color: indianred;
  display: inline-block;
  font-size: 0.8em;
}

.date{
  display: inline-block;
  font-size: 0.8em;
}

.title{
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2%;
}

.text-box{
  background-color: #F8F9FA;
  padding: 2%;
  margin: 1%;
}

.bookmark-dlt-btn{
  margin-top: 2%;
}

.navbar{
  background-color: rgba(255,255,255,0.1) !important;
  box-shadow: 1px 1px 10px lightgrey;
}

 .nav-link{
  font-size: 1.2em;
  color:grey;
}

.bookicon{
  border-color: rgba(255,255,255,0);
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-top: 2%;
}

