nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}
.login, .signUp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
.form-control {
  width: 310px;
}

#signup-button, #login-button {
  margin-left: 65px;
  height: 40px;
  width: 170px;
  border-radius: 30px;
}

#signup-button:hover {
  background-color: goldenrod;
}

.welcome-login, .welcome-signup {
  margin-left: 10px;
}
