body{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/background.jpg');
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

.navbar-brand{
  font-size: 2em;
}

#background-signup {
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 width: 100%;
 height: 100%;
}

#background-login {
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
}

.login, .signUp{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  margin-left: 400px;
  margin-top: 70px;
  border-radius: 10px;
  width:600px;height:500px;
  border: solid 1px grey;
  background-color: rgba(227, 227, 227, 0.4);;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 15px darkgray;
  -webkit-backdrop-filter: blur(5px);

}

#new-email {
 position: absolute;
 margin-top: -20px;
}

#new-password {
 position: absolute;
 margin-top: -20px;
}

#auth-password {
 position: absolute;
 margin-top: -20px;
}
.form-control {
  width: 310px;
}

#signup-button, #login-button {
  margin-left: 65px;
  height: 40px;
  width: 170px;
  border-radius: 30px;
  margin-top: 20px;
}

.welcome-login-message {
  margin-top: -10px;
  margin-left: 90px;
  color: black;
}

.welcome-login-sign-in {
  margin-bottom: -5px;
  margin-left: 100px;
  color: black;
}

.welcome-signup-message {
  margin-left: 100px;
  color: black;
}

.welcome-signup {
  margin-left: -7px;
  color: black;
}

.lform, .sform{
  width:80%;
  margin-left: 155px;
}

.container{
  margin-top: 5%;
}

svg{
  margin-left: 2px;
  height: 30px;
  width: 30px;
}

svg:hover{
  color: indianred;
}

#row{
  margin-bottom: 5%;
}

img{
  width: 100%;
  object-fit: cover;
}

.news-info{
  margin-right: 5%;
  margin-top: 2%;
}

.source{
  color: indianred;
  display: inline-block;
  font-size: 0.8em;
}

.date{
  display: inline-block;
  font-size: 0.8em;
}

.title{
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  background-color: rgba(255,255,255,0.1) !important;
}

 .nav-link{
  font-size: 1.5em;
  color:black;
}

.bookicon{
  border-color: rgba(255,255,255,0);
}


