<div class="container">
  <h1>This the the bookmark page</h1>

  <h2>My Articles</h2>

  <% if (articles.length < 1) { %>
    <h4>No Articles Bookmarked</h4>
  <% } %>

  <% articles.forEach(function(news) { %>
    <div>
      <h2>
        <%= news.title %>
      </h2>
      <form method="POST" action="/bookmarks/<%= news.id %>/?_method=DELETE">
        <button class="btn btn-danger" type="submit">Delete</button>
      </form>
    </div>
  <% }); %>
</div>